<div class="ffrpg4e-chat initiative-roll">
  <h2>Initiative</h2>
  <div class="initiative-dice">
    {{#each dice as |die|}}
    <span>{{die}}</span>
    {{/each}}
  </div>
  <dl>
    <dt>Total</dt><dd>{{total}}</dd>
  </dl>
</div>
